JWT_SECRET=681154f28359d93ce8b2dbad61ab82f24e6fe99864a516a617705b0fbc69b1449
MAIL_PASS=wyim hhhh jhki emtb
MAIL_USER=hello@gmail.com
GOOGLE_CLIENT_ID=467776201900-50et1ik3q0u8cgkc6gb5ogd82g6db9m2.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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
ADMIN_EMAIL=admin@artbehindbars.com
ADMIN_PASSWORD=Admin@12345