DATABASE_URL="postgresql://postgres.ssdfs:prison!Art147258@aws-1-ap-south-1.pooler.supabase.com:5432/postgres"
JWT_SECRET=681154f28359d93ce8b2dbad61db42f24e6fe7664a1454516a617705b0fbc69b1449
MAIL_PASS=sgrt sdfgd jhki emtb
MAIL_USER=sfdsdsd@gmail.com
GOOGLE_CLIENT_ID=467776201900-50et1sgeaik3q0u8cgkc6gb5ogd82g6db9m2.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=GOCSPX-sffsd
GOOGLE_CALLBACK_URL=https://r9lhnctm-4900.inc1.devtunnels.ms/auth/google/callback
CLOUDINARY_URL=cloudinary://50454446:kxuiH6z1BZEUtEm-jkLdKNCtMKA@dvfditdon
ADMIN_EMAIL=admin@artbehindbars.com
ADMIN_PASSWORD=Admin@sdfsdsd
SANDBOX_ACCESS_TOKEN=ssdfsssd-PXXwahCT3YF
FRONTEND_URL=http://localhost:3000
FRONTEND_NETWORK_URL=http://10.10.13.104:3000
PORT=4900